.stat-highlights-container,
.searched-card-stats-container {
  display: flex;
}

.stat-highlight,
.searched-card-stat,
.reading-note-card,
.reading-note {
  border: solid 1px;
}

.search-container {
  display: flex;
}

.reading-note-headers {
  display: flex;
  justify-content: space-between;
}
