.analytics-page-container {
  width: 1200px;
  max-width: calc(100% - 20rem);
  margin: auto;
  color: #201105;
}

.analytics-page-title {
  font-size: 2.5rem;
  font-weight: 600;
  font-style: italic;
  text-align: center;
}

.searched-card-stats-container,
.search-container {
  display: flex;
}

.stat-highlights-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  gap: 1.8rem;
}

.stat-highlight-card {
  border: none;
  background-color: rgb(255, 252, 241, 0.37);
  padding: 0.25rem 1.6rem 0.3rem;
  border-radius: 10px;
}

.stat-title {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
}

.stat {
  font-weight: 600;
  font-size: 1.8rem;
  margin: 0;
}

.stat-detail {
  font-size: 1rem;
  margin-top: 0.8rem;
  font-weight: 500;
  font-style: italic;
  color: #5e5f5e;
}

.card-search-container {
  border: none;
  background-color: rgb(255, 252, 241, 0.37);
  padding: 0.7rem 2.5rem 2.2rem;
  border-radius: 10px;
  margin-top: 2.5rem;
}

.search-title {
  font-size: 2rem;
  font-style: italic;
  margin: 1.5rem 0 1.3rem 0;
}

.search-dropdown {
  position: relative;
}

.search-dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  background: white;
  list-style: none;
  margin: 0;
  padding: 0.5rem 1rem;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid rgb(193, 153, 205, 0.5);
  border-radius: 5px;
}

.search-dropdown-list li {
  padding-bottom: 0.4rem;
}

.search-dropdown-list li:hover {
  background-color: rgb(229, 229, 229);
}

.search-input {
  width: 400px;
  height: 100%;
  padding: 0.7rem 1rem;
  border: 1px rgb(193, 153, 205, 0.65) solid;
  border-radius: 5px;
  margin-right: 10px;
}

.search-filter-btn,
.search-btn {
  border: 1px solid rgb(177, 149, 212, 0.5);
  border-radius: 7px;
  padding: 0.7rem 0.9rem;
  font-family: "Libertinus Serif", serif;
  background-color: #f7e4ff;
  font-size: 0.8rem;
  margin-right: 10px;
}

.search-btn {
  border: 1px solid rgb(151, 180, 142, 0.65);
  background-color: #ebffe4;
}

.search-filter-btn-selected {
  background-color: #eacaf6;
  border-color: rgb(179, 151, 218, 0.65);
  font-weight: 600;
}

.search-filter-btn:hover {
  background-color: #f0d4fc;
}

.search-btn:hover {
  background-color: #d8f6cd;
}

.searched-card {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.card-suit {
  font-style: italic;
  font-size: 1.1rem;
}

.searched-card-stats-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 2rem;
}

.searched-card-stat-container {
  border: 1px solid rgb(196, 39, 0, 0.2);
  border-radius: 10px;
  background-color: #fff8e5;
  padding: 0.5rem 1.5rem;
}

.searched-card-stat-label {
  margin-bottom: 0.7rem;
}

.searched-stat {
  font-weight: 600;
  font-size: 1.8rem;
  margin: 0;
}

.searched-stat-detail {
  font-size: 1rem;
  margin: 0.6rem 0 0.7rem;
  font-weight: 500;
  font-style: italic;
  color: #5e5f5e;
}

.monthly-frequency-title,
.reading-notes-title {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 600;
  margin-top: 1.5rem;
}

.reading-note-card,
.frequency-graph-container,
.chart-container {
  border: 1px solid rgb(196, 39, 0, 0.2);
  border-radius: 10px;
  background-color: #fff8e5;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1.2rem;
}

.chart-container {
  padding: 1.7rem 0 0.3rem 0;
  width: 97%;
}

.frequency-graph-container {
  padding: 1.2rem 0 0.3rem 0;
}

.reading-note-headers {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.reading-note-date {
  font-style: italic;
}

.card-position {
  background-color: #f7edfb;
  border: 1px solid rgba(216, 191, 247, 0.5);
  border-radius: 15px;
  padding: 0.1rem 0.5rem 0.1rem;
  font-size: 0.9rem;
  margin: 0;
}

.reading-note {
  border: 1px solid rgb(196, 85, 0, 0.2);
  border-radius: 10px;
  background-color: #ffe8d4;
  padding: 0.5rem 1.25rem;
  margin: 0.2rem 0 1.2rem 0;
}

.navigate-to-reading {
  margin: 0;
  font-size: 0.8rem;
  font-style: italic;
  /* margin: 0; */
}

.navigate-to-reading:hover {
  cursor: pointer;
  color: gray;
  transition: all 0.1s ease;
}

.bottom-row-note {
  margin: 0.3rem 1rem 0.7rem 0.5rem;
  display: flex;
  justify-content: space-between;
}

.spread-type-tag {
  background-color: #ebffe4;
  border: 1px solid rgb(151, 180, 142, 0.6);
  border-radius: 15px;
  padding: 0.1rem 0.5rem 0.1rem;
  font-size: 0.9rem;
  /* margin: 0; */
}

.chart-title {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 600;
  margin: 1.3rem 0 0.6rem;
  /* color: rgb(32, 17, 5, 0.52); */
}

.chart-subtitle {
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  margin: 0 0 1.2rem;
  color: rgb(32, 17, 5, 0.52);
}

.charts {
  display: grid;
  grid-template-columns: max-content max-content;
  border: none;
  background-color: rgb(255, 252, 241, 0.37);
  padding: 0.7rem 2.5rem 1rem;
  border-radius: 10px;
  margin-top: 2.5rem;
  gap: 1.3rem;
}

.most-pulled-cards-container,
.suit-trend-container {
  width: 440px;
}

.frequency-graph-container {
  width: 100%;
}
