.analytics-page-container {
  margin: 1rem 2rem;
}

.stat-highlights-container,
.searched-card-stats-container {
  display: flex;
}

.stat-highlight,
.searched-card-stat,
.reading-note-card,
.reading-note {
  border: solid 1px;
}

.search-container {
  display: flex;
}

.search-input {
  height: 100%;
}

.reading-note-headers {
  display: flex;
  justify-content: space-between;
}

.most-pulled-cards-container {
  width: 500px;
  height: 300px;
  /* border: 1px solid red; */
}

.suit-trend-container {
  width: 500px;
  height: 300px;
  /* border: 1px solid red; */
}

.charts {
  display: flex;
  gap: 5rem;
}
