.body {
  margin: 0;
}

.login-container:before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background: radial-gradient(
    ellipse 1000px 800px at 50% 380px,
    rgb(253, 110, 0, 0.27) 1%,
    rgb(252, 184, 107, 0.24) 20%,
    rgb(255, 210, 127, 0.15) 32%,
    rgb(255, 219, 164, 0.1) 40%,
    rgb(255, 232, 212, 0.05) 72%,
    rgb(255, 248, 22, 0) 100%,
    transparent 40%
  );
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10rem auto 0;
}

.welcome-text {
  font-style: italic;
  font-weight: 100;
  font-size: 3rem;
  margin: 0;
}

.tarolytics {
  font-family: "Pamela";
  font-size: 3.6rem;
  margin: 0.5rem 0;
}

.login-btn {
  border: 1px solid #97b48e;
  border-radius: 9px;
  padding: 0.8rem 1.2rem;
  font-family: "Libertinus Serif", serif;
  background-color: #ebffe4;
  font-size: 1rem;
  margin: 0.7rem 0.5rem;
}

.login-btn:hover {
  background-color: #cee9c6;
  transition: all 0.1s ease;
}
