.search-bar-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 1.4rem; 
}

.all-card-inputs-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 1rem; 
}

.search-card-input-wrapper {
  display: flex; 
  align-items: center;
}

.reading-log-container {
  margin: 0 auto; 
  background-color: #FFF8E5; 
  border: 1px solid #C45500; 
  border-radius: 20px;
  max-width: 75%; 
  padding: 0.5rem 0; 
}

.reading-log-labels {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr; 
  place-items: center; 
  place-content: center; 
  font-weight: 900; 
  margin: 1.5rem auto 0.4rem;
  max-width: 75%;
  padding: 0 1.5rem;
  font-size: 1.1rem;   
}

hr {
  border: none; 
  border-top: 1px dashed black; 
  width: 95%; 
}