.reading-log-page-container {
  text-align: center;
}

.title {
  font-family: "Libertinus Serif", serif;
  font-style: italic;
  margin: 4rem 0 1.7rem;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}

.all-card-inputs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search-card-input-wrapper {
  display: flex;
  align-items: center;
}

.reading-log-container {
  margin: 0 auto;
  background-color: #fff8e5;
  border: 1px solid rgb(220, 175, 141);
  border-radius: 20px;
  max-width: 75%;
  min-width: 1400px;
  padding: 0.5rem 0;
  max-height: 60vh;
  overflow-y: auto;
}

.reading-log-container > *:hover {
  background-color: #fcf1d3;
  border-radius: 10px;
  /* padding: 0rem; */
}

.reading-log-labels {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 2fr 2fr 2fr 2fr 2fr;
  place-items: center;
  place-content: center;
  font-weight: 900;
  margin: 1.5rem auto 0.4rem;
  max-width: 75%;
  min-width: 1400px;
  padding: 0 1.5rem;
  font-size: 1.1rem;
}

.log-divider {
  border: none;
  border-top: 0.1px solid rgba(215, 168, 168, 0.4);
  width: 95%;
}

.add-card-btn {
  border: 1px solid #889fcc;
  border-radius: 9px;
  padding: 0.6rem 1rem;
  font-family: "Libertinus Serif", serif;
  background-color: #e2e8ff;
  font-size: 0.9rem;
  margin: 0.7rem 0.5rem;
}

.add-card-btn:hover {
  background-color: #c2cbec;
  transition: all 0.1s ease;
}
