.reading-log-page-container {
  text-align: center; 
}

.title {
  font-family: 'Pamela'; 
  margin: 4rem 0 1.7rem; 
}

.search-bar-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 1.4rem; 
}

.all-card-inputs-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 1rem; 
}

.search-card-input-wrapper {
  display: flex; 
  align-items: center;
}

.reading-log-container {
  margin: 0 auto; 
  background-color: #FFF8E5; 
  border: 1px solid #C45500; 
  border-radius: 20px;
  max-width: 75%; 
  padding: 0.5rem 0; 
}

.reading-log-labels {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr; 
  place-items: center; 
  place-content: center; 
  font-weight: 900; 
  margin: 1.5rem auto 0.4rem;
  max-width: 75%;
  padding: 0 1.5rem;
  font-size: 1.1rem;   
}

.log-divider {
  border: none; 
  border-top: 1px dashed black; 
  width: 95%; 
}

.add-card-btn {
  border: 1px solid #889fcc;
  border-radius: 9px; 
  padding: 0.6rem 1rem;
  font-family: "Libertinus Serif", serif; 
  background-color: #E2E8FF; 
  font-size: 0.9rem; 
  margin: 0.7rem 0.5rem; 
}

.add-card-btn:hover {
  background-color: #c2cbec; 
  transition: all 0.1s ease; 
}

