.tracker-input-page-container::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background: radial-gradient(
    ellipse 1050px 1250px at 50% 500px,
    rgb(253, 110, 0, 0.17) 8%,
    rgb(252, 184, 107, 0.2) 24%,
    rgb(255, 210, 127, 0.15) 32%,
    rgb(255, 219, 164, 0.1) 61%,
    rgb(255, 232, 212, 0.05) 72%,
    rgb(255, 248, 22, 0) 100%,
    transparent 40%
  );
  pointer-events: none;
}

.tracker-input-page-container {
  text-align: center;
}

.title {
  font-family: "Pamela";
  margin: 4rem 0 1.7rem;
  font-size: 3.3rem;
}

.topic-label,
.spread-label,
.toggle-label {
  font-size: 1.1rem;
}

.card-input-container {
  display: flex;
  align-items: center;
}

.all-card-inputs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 30%;
  margin: 0 auto;
}

.reading-notes input {
  border: 1px solid rgb(193, 153, 205, 0.6);
  border-radius: 7px;
  padding: 10px 12px;
  font-family: "Libertinus Serif", serif;
  width: 250px;
  text-align: center;
  font-size: 1.1rem;
  background-color: #fffefa;
  margin: 0.6rem 0;
}

.card-position input {
  border: 1px solid rgb(193, 153, 205, 0.6);
  border-radius: 7px;
  padding: 8px 10px;
  font-family: "Libertinus Serif", serif;
  width: 150px;
  text-align: center;
  font-size: 1rem;
  background-color: #fffefa;
  margin: 0.6rem 0;
}

.save-reading-btn,
.upload-picture-btn {
  border: 1px solid rgb(151, 180, 142, 0.5);
  border-radius: 7px;
  padding: 0.75rem 1.2rem;
  font-family: "Libertinus Serif", serif;
  background-color: #ebffe4;
  font-size: 1.1rem;
  margin: 0.7rem 0.5rem;
}

.add-card-btn {
  border: 1px solid rgb(136, 159, 204, 0.6);
  border-radius: 7px;
  padding: 0.5rem 1rem;
  font-family: "Libertinus Serif", serif;
  background-color: #e2e8ff;
  font-size: 0.9rem;
  margin: 0.7rem 0.5rem;
}

.x-btn {
  font-size: 0.75rem;
  margin-left: 8px;
}

.x-btn:hover {
  color: rgb(177, 78, 78);
  transition: all 0.1s ease;
}

.save-reading-btn:hover,
.upload-picture-btn:hover,
.view-reading-btn:hover {
  background-color: #cee9c6;
  transition: all 0.1s ease;
}

.add-card-btn:hover,
.submit-another-btn:hover {
  background-color: #c2cbec;
  transition: all 0.1s ease;
}

.reading-topic-menu-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.spread-display-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  width: 30%;
  margin: 1.5rem auto;
  padding: 2.5rem 1rem 1rem;
  background-color: #fff8e5;
  border: 1px dashed rgb(196, 85, 0, 0.6);
  border-radius: 20px;
}

.card-image-container {
  width: 100px;
}

.card-image {
  width: 100%;
}

.view-reading-modal {
  position: absolute;
  top: 31%;
  left: 39%;
  padding: 3rem;
  background-color: #fff8e5;
  border: 1px solid rgb(196, 85, 0, 0.6);
  border-radius: 12px;
  width: 22%;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.view-reading-btn,
.submit-another-btn {
  border-radius: 7px;
  padding: 0.8rem 1.2rem;
  font-family: "Libertinus Serif", serif;
  font-size: 1rem;
  margin: 0.7rem 0.5rem;
}

.view-reading-btn {
  border: 1px solid rgb(151, 180, 142, 0.6);
  background-color: #ebffe4;
}

.submit-another-btn {
  border: 1px solid rgb(136, 159, 204, 0.6);
  background-color: #e2e8ff;
}

/* toggle */
.toggle-container {
  margin: 1rem 0 0.7rem 1rem;
}

.toggle {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.toggle-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.toggle-slider {
  position: relative;
  width: 34px;
  height: 18px;
  background: #fa393c66;
  border-radius: 12px;
  transition: background 0.2s;
}

.toggle-slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  background: white;
  border-radius: 50%;
  transition: transform 0.2s;
}

.toggle-input:checked + .toggle-slider {
  background: #849afacc; /* green when on */
}

.toggle-input:checked + .toggle-slider::before {
  transform: translateX(16px); /* slide the knob */
}

.toggle-input:focus-visible + .toggle-slider {
  outline: 2px solid #2563eb;
  outline-offset: 2px;
}
