.tracker-input-page-container {
  text-align: center;
}

.title {
  font-family: "Pamela";
  margin: 4rem 0 1.7rem;
}

.card-input-container {
  display: flex;
  align-items: center;
}

.all-card-inputs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 40%;
  margin: 0 auto;
}

.reading-notes input {
  border: 1px solid #c199cd;
  border-radius: 9px;
  padding: 12px;
  font-family: "Libertinus Serif", serif;
  width: 250px;
  text-align: center;
  font-size: 1rem;
  background-color: #fffefa;
  margin: 0.6rem 0;
}

.save-reading-btn,
.upload-picture-btn {
  border: 1px solid #97b48e;
  border-radius: 9px;
  padding: 0.8rem 1.2rem;
  font-family: "Libertinus Serif", serif;
  background-color: #ebffe4;
  font-size: 1rem;
  margin: 0.7rem 0.5rem;
}

.add-card-btn {
  border: 1px solid #889fcc;
  border-radius: 9px;
  padding: 0.6rem 1rem;
  font-family: "Libertinus Serif", serif;
  background-color: #e2e8ff;
  font-size: 0.9rem;
  margin: 0.7rem 0.5rem;
}

.save-reading-btn:hover,
.upload-picture-btn:hover {
  background-color: #cee9c6;
  transition: all 0.1s ease;
}

.add-card-btn:hover {
  background-color: #c2cbec;
  transition: all 0.1s ease;
}

.reading-topic-menu-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.spread-display-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  width: 40%;
  /* height: 20%;  */
  margin: 1.5rem auto;
  padding: 2.5rem 1rem 1rem;
  background-color: #fff8e5;
  border: 1px dashed #c45500;
  border-radius: 20px;
  /* transform: translateX(-50%) */
}

.card-image-container {
  width: 100px;
}

.card-image {
  width: 100%;
}
