.card-input {
  appearance: none;
  border: 1px solid #c199cd99;
  border-radius: 7px;
  padding: 0.5rem;
  font-family: "Libertinus Serif", serif;
  width: 135px;
  text-align: center;
  font-size: 1.1rem;
  background-color: #fffefa;
  margin: 0.5rem 0.5rem 0.5rem 0;
  cursor: pointer;
}
