.topic-container {
  /* margin-top: 0.8rem;  */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.topic-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.topic-menu {
  appearance: none;
  border: 1px solid rgb(193, 153, 205, 0.6);
  -webkit-appearance: none;
  border-radius: 7px;
  font-family: "Libertinus Serif", serif;
  padding: 6px 10px;
  text-align: center;
  font-size: 1rem;
  background-color: #fffefa;
  cursor: pointer;
}

.custom-topic-input {
  border: 1px solid rgb(193, 153, 205, 0.6);
  border-radius: 9px;
  padding: 6px 10px;
  font-family: "Libertinus Serif", serif;
  width: 120px;
  text-align: center;
  font-size: 1rem;
  background-color: #fffefa;
  margin: 0.6rem 0;
}
